.ui-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: burlywood;
    border-radius: 4px;
}



.ui-input {
    margin-top: 20%;
    display: flex;
    justify-content: center;
}
.ui-input-label{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.ui-input-textbox {
    margin: 0 auto;
}
.ui-input-button {
    cursor: pointer;
    background: blueviolet;
    border-radius: 4px;

}