.page-bg {
  background: var(--color-background);        /*#081022;*/
  transition: background 1s;
  height: auto; /*will cause extra scroll bar if not big enough */
  overflow: auto;
  /* position: relative; */
  min-height: 100vh;
}

.page-content {
  margin: 0 auto;
  width: 63%;
  height: auto;
  /* overflow:auto; */

  position: relative;
}



.user-info-container {
    height: 4rem;
    margin-top: 2rem;
    background: var(--color-background-light);
    border-radius: 4px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    column-gap: 12px;
}
.user-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}



.filters-container{
    height: 16px;
    margin-top: 2rem;
    background: var(--color-background-light);
    border-radius: 4px;
    padding: 8px;
    
    display: grid;
    grid-template-columns: auto auto;
    
}












.repos-container{
    height: auto;
    margin-top: 1rem;
    background: var(--color-background-light);
    border-radius: 4px;
    min-height: 4rem;
    padding: 1rem;

    display: grid;
    grid-auto-rows: 101px;
    row-gap: 32px;
}


.ui-container {
    
    margin: 100px auto;
    width: 500px;
    height: 200px;
    background: var(--color-background-light);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-input {

}
.ui-input-label{
    color: var(--color-text);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}
.ui-input-textbox {
    margin: 0 auto;
    user-select: contain;
}
.ui-input-button {
    width: 100px;

    border-radius: 4px;

    background-color: #3498DB;
    color: white;
    
    font-size: medium;
    font-weight: 600;
    text-align: center;
    line-height: initial;
    border: none;
    cursor: pointer;

    padding: 6px 20px;
    user-select: none;
}
.ui-input-button:hover{
    background-color: #3eabf3;
}

.ui-input-button.error{
    background-color: #be3855;
    width: 120px;
    padding: 6px 10px;
}